@model IEnumerable<FoodProject.Models.Food>

@{
    ViewBag.Title = "AddIngredient";
}

<h2>Add Ingredient to Recipe</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

  
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.ActionLink("Add to Recipe", "AddFoodId", new { id=item.FoodID })

        </td>
    </tr>
}

</table>
