@model FoodProject.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Ingredients Required</h2>


<table class="table">
    <tr>
        <th>
            @Model.Name
        </th>
    </tr>
@foreach (var ingredient in Model.Ingredients) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => ingredient.Food.Name)
        </td>  
    </tr>
}
</table>
<h3>
    @Html.ActionLink("Back to List", "Index")
</h3>