@model FoodProject.Models.UserLogin

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <title>Create user</title>
</head>
<div class="panel-body">
    @using (Html.BeginForm())
            {
        @Html.ValidationSummary()
        <div class="form-group">
            <label>User name:</label>
            @Html.TextBoxFor(x => x.un, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Password:</label>
            @Html.PasswordFor(x => x.pword, new { @class = "form-control" })
            <label>Confirm password:</label>
            @Html.PasswordFor(x => x.pword2, new { @class = "form-control" })
        </div>
                <div>
                    <input class="btn btn-success" type="submit" value="Update Password" />
                </div>
    }
</div>